.bg-lighter {
    background-color: #f4f4f4;
}
.bg-gray {
    background-color: #d4d4d4 !important;
}

.btn-fold > div {
    transform: rotate(90deg) !important;
    transition: transform 0.5s;
}

.btn-fold-open > div {
    transform: rotate(180deg) !important;
}
