/* Home page section */
.rectangle {
    background-color: #d37604;
}

.rectangle h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    padding-top: 20px;
}

.rectangle h4 {
    font-size: 18px;
    font-weight: 600;
}

.rectangle a {
    border-radius: 25px;
    border: 1px solid rgb(145, 70, 9);
    background: linear-gradient(125deg, #ff9800, #f15a29);
    transition: 0.25s;
}

.rectangle a:hover,
.rectangle a:focus {
    background: linear-gradient(125deg, #f15a29, #f15a29);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.triangle-down {
    width: 100%;
}

.text-wrapper {
    text-align: center;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-wrapper,
.home-header h2 {
    text-align: center;
    margin-top: 3%;
}

.home-container {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}

.home-container-left {
    width: 60%;
}

.home-container-right {
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: auto auto;
    width: auto;
    padding: 5px;
}

.home-sellingpoint{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.home-sellingpoint h5{
    font-weight: 600 !important;
}

/* Contact page section */ 
.contact-container {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
}

.contact-container-left {
    width: 30%
}

.contact-container-left a {
    text-decoration: none;
    color: #696969;
    font-size: 20px;
}

.contact-container-left a:hover {
    color: #FF8C00;
}

.contact-container-right {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.contact-container-right h2 {
    font-size: 38px !important;
}

.container-adress {
    margin-bottom: 5% !important;
}

.container-adress h2 {
    font-size: 38px !important;
}

.message-area {
    background-color: #f5f8fa !important;
}

.contact-container-right input,
.message-area {
    border: 0;
    border-radius: 1px;
    background: none;
    border-bottom: 2px solid #cad5e2;
}

.contact-container-right label {
    font-size: 13px;
}

.contact-container-right span{
    font-size: 13px;
    color: red;
}

