﻿a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar {
  border-bottom: 1px solid black !important;
  min-height: 100px;
}

.button-border {
  border: 2px solid black;
  border-radius: 5px;
}

.navbar-button {
  background-color: lightgray;
  border-radius: 0;
  border-right: 2px solid black;
}

.navbar-button:hover {
  background-color: white;
}

.navbar-button-right {
  border: none;
  background-color: lightgray;
  border-radius: 0;
}

.navbar-button-right:hover {
  background-color: white;
}
