/*.container  {
        margin-left: 1vw ;
        margin-right: 1vw;
    }*/

.serviceCollection {
  background-color: rgb(243, 148, 23);
}

.serviceCard {
  background-color: rgba(45, 180, 115, 0.4);
  max-height: 25vh;
  
}

.serviceCard .title {
  font: 30px Helvetica;
}

.serviceCard .description {
  font: 14px Helvetica darkblue;
}

.serviceCard .image {
  width: 40%;
  height: 30%;
}

.serviceCard:last-of-type {
  margin-right: 0px !important;
}

.bestchoiceCard {
  color: rgb(4, 163, 4);
  text-align: left;
}

.normalchoice {
  background-color: #676767;
  color: white;
}

.bestchoice {
  background-color: #4CAF50 !important;
  color: white;
}

.row {
  justify-content: space-between;
}

.normalchoiceCard {
  text-align: left;
}
.normalcard {
  margin-right: 30px;
}